
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*tela inicial*/

body {
    background-color: #47484a;
}
.navbar {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
h1{
    color: aliceblue;
}
.nav-link {
    transition: all 0.3s ease;
}
.nav-link:hover {
    background-color: #495057;
    border-radius: 8px;
    padding-left: 12px;
}
.offcanvas {
    width: 250px !important;
  }
   .offcanvas {
       border-start-end-radius: 30px 30px;

   }
   .nav-link {
       transition: all 0.3s ease;
   }

   .nav-link:hover {
       background-color: #495057;
       border-radius: 8px;
       padding-left: 12px;
   }

/*tela projetos*/
   .card-text{
    color: aliceblue;
   }
   .card-title{
    color: rgb(255, 255, 255);
   }
   .card{
    background-color: #242527;
    border-radius: 30px;
   }


/*tudo*/
   .mb-3{
    color: #242527;
   }

   .form-label{
    color: aliceblue;
   }



   /*cadastro e login*/


   .card-a{
      box-shadow: 0px 0px 55px 10px rgba(0, 0, 0, 0.593);
      border-radius: 30px;
      background-color: #2f2d2d;

     }
   
    .body-a{
        background-color: #a37272;
    }



